@font-face {
  font-family: "iconfont"; /* Project id 3285132 */
  src: url('iconfont.woff2?t=1650549527577') format('woff2'),
       url('iconfont.woff?t=1650549527577') format('woff'),
       url('iconfont.ttf?t=1650549527577') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e638";
}

.icon-shouqicaidan:before {
  content: "\e622";
}

.icon-zhankaicaidan:before {
  content: "\e624";
}

.icon-bangzhutianchong:before {
  content: "\e671";
}

.icon-bukaixintianchong:before {
  content: "\e672";
}

.icon-cuowutishitianchong:before {
  content: "\e675";
}

.icon-shanchutianchong:before {
  content: "\e68c";
}

.icon-shezhitianchong:before {
  content: "\e68d";
}

.icon-shouyetianchong:before {
  content: "\e692";
}

.icon-sousuotianchong:before {
  content: "\e694";
}

.icon-tixingtianchong:before {
  content: "\e695";
}

.icon-tianjiatianchong:before {
  content: "\e696";
}

.icon-xinfengtianchong:before {
  content: "\e69e";
}

.icon-xiugaitianchong:before {
  content: "\e69f";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-zantianchong:before {
  content: "\e6a4";
}

.icon-qingdantianchong:before {
  content: "\e6ad";
}

.icon-shurutianchong:before {
  content: "\e6ca";
}

.icon-wenbenbianjitianchong:before {
  content: "\e6d4";
}

